<div class="container bg-body p-5">
    <div class="row g-5">
        <div class="col-12 col-md-7 text-center">
            <img src="https://placehold.it/800x533" class="img-fluid" alt="Group">
        </div>
        <div class="col-12 col-md-5">
            <h2 class="fs-3 mb-5">Group Classes</h2>
            <div class="portfolio-content mb-5">
                <p class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="text-secondary">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="fw-bold">Intensity</span> Medium
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Feel</span> Empowered
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Dates</span> Mon, Wed, Sat
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Price</span> 40$/month - 6 trainings
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Time</span> 1 hour
                </li>
            </ul>
        </div>
    </div>
</div>