<div class="container bg-body p-5">
    <div class="row g-5">
        <div class="col-md-7">
            <div class="owl-carousel portfolio_owl_slider">
                <div>
                    <img src="https://placehold.it/800x533" alt="Portfolio Image 1">
                </div>
                <div>
                    <img src="https://placehold.it/800x533" alt="Portfolio Image 10">
                </div>
                <div>
                    <img src="https://placehold.it/800x533" alt="Portfolio Image 11">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h2 class="fs-3 mb-5">Portfolio Item 1</h2>
            <div class="portfolio-content mb-5">
                <p class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="text-secondary">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="fw-bold">Client</span> Envato
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Category</span> Street Photography
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Client</span> Envato
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Softwares</span> Photoshop, Illustrator
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Date</span> 15,05,2021
                </li>
            </ul>
        </div>
    </div>
</div>